/* ### Font

- Family: [DM Sans](https://fonts.google.com/specimen/DM+Sans)
- Weights: 400, 700 */

* {
 margin: 0;
 padding: 0;
}

@font-face {
 font-family: DMSans;
 src: url(./fonts/DMSans-Regular.ttf);
}

@font-face {
 font-family: DMSansBold;
 src: url(./fonts/DMSans-Bold.ttf);
}

:root {
 --primary-soft-red: hsl(10, 79%, 65%);
 --primary-cyan: hsl(186, 34%, 60%);
 --neutral-dark-brown: hsl(25, 47%, 15%);
 --neutral-medium-brown: hsl(28, 10%, 53%);
 --neutral-cream: hsl(27, 66%, 92%);
 --neutral-pale-orange: hsl(33, 100%, 98%);
}

h1, h2, h3, h4, h5 {
 font-family: DMSansBold;
}

p, div, a {
 font-family: DMSans;
}

p {
 color: var(--neutral-medium-brown);
}

#balance-header p {
 color: var(--neutral-pale-orange)
}

hr {
 background-color: var(--neutral-cream);
 border: 1px solid var(--neutral-cream);
 height: 0;
 margin: 9px 0 9px 0;
}

.column {
 display: flex;
 flex-direction: column;
}

.row {
 display: flex;
 flex-direction: row;
}

body {
 background-color: var(--neutral-cream);
}

.footer {
 position: fixed;
 bottom: 0;
 width: 100%;
 text-align: center;
}

#balance {
 width: fit-content;
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

#balance-header {
 background-color: var(--primary-soft-red);
 margin-bottom: 21px;
 border-radius: 21px;
 padding: 20px;
 justify-content: space-between;
 color: var(--neutral-pale-orange)
}

#balance-body {
 background-color: var(--neutral-pale-orange);
 border-radius: 21px;
 padding: 20px;
}

#balance-footer {
 justify-content: space-between;
}

#balance-footer div:last-of-type {
 align-items: flex-end;
}

#balance-footer div {
 justify-content: flex-end;
}

#chart {
 padding-top: 9px;
}

#chart .column {
 width: 39px;
 align-items: center;
 justify-content: flex-end;
}

.data {
 width: 30px;
 border-radius: 3px;
 margin-top: 5px;
 cursor: pointer;
}

.data:hover {
 opacity: .8;
}

.label {
 background-color: black;
 color: var(--neutral-pale-orange);
 padding: 3px 5px 3px 5px;
 text-align: center;
 border-radius: 3px;
}